<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'paginas/menu.html'%}
    <h1>Menú formularios</h1>
    <ul>
        <li>
            <a href="/ejemplo">Ir a ejemplo</a>
        </li>
        <li>
            <a href="/saludo">Saludo</a>
        </li>
        <li>
            <a href="/sumar">Sumar números</a>
        </li>
        <li>
            <a href="/parimpar">Par Impar</a>
        </li>
        <li>
            <a href="/collatz">Collatz</a>
        </li>
    </ul>
</body>
</html>