<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'paginas/menu.html'%}
    <h1>Saludando!!!</h1>
    <a href="/">Volver a index</a>
    <form method="post">
        {% csrf_token %}
        Introduzca su nombre:
        <input type="text" name="cajanombre"/>
        <select name="select">
            {% for d in lista %}
                <option value="{{d.index}}">
                    {{d.valor}}
                </option>
            {%endfor%}
        </select>
        <button>Enviar</button>
    </form>
    <h2>Su nombre es...... {{nombre}} </h2>
    {%if elemento%}
        <h1>aa{{elemento}}</h1>
    {%endif%}
</body>
</html>